<% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="container">
{%for message in app.flashes('notice')%}
<div class="alert alert-succes nt-4 nb-n">
{{message}}
</div>
{%endfor%}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">adress</th>
      <th scope="col">code_postal</th>
      <th scope="col">ville</th>
      <th scope="col">phone</th>
      <th scope="col">number_siren</th>
      <th scope="col">number_tva</th>
      <th scope="col">juridic_form</th>
      <th scope="col">representant_legal</th>
      <th scope="col">zone</th>
       <th scope="col">rib</th>
        <th scope="col">action</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  {%for data in list%}
  <tr>
  <th scope="row">{{data.id}}</th>
  <td>{{data.Name}}</td>
<td>{{data.adress}}</td>
<td>{{data.code_postal}}</td>
<td>{{data.ville}}</td>
<td>{{data.phone}}</td>
<td>{{data.number_siren}}</td>
<td>{{data.juridic_form}}</td>
<td>{{data.representant_legal}}</td>
<td>{{data.zone}}</td>
<td>{{data.rib}}</td>
<td>
     action
      </td>
    </tr>
      {%endfor%}
    </tr>
  </tbody>

</table>
{% endblock %}