{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="container">
{%for message in app.flashes('notice')%}
<div class="alert alert-succes nt-4 nb-n">
{{message}}
</div>
{%endfor%}
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">adress</th>
      <th scope="col">ville</th>
      <th scope="col">phone</th>
      <th scope="col">code_postal</th>
      <th scope="col">zone</th>
      <th scope="col">rib</th>
      <th scope="col">number_siren</th>
      <th scope="col">number_tva</th>
      <th scope="col">juridic_form</th>
      <th scope="col">representant_legal</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  {%for data in list%}
  <tr>
  <th scope="row">{{data.id}}</th>
<td>{{data.Name}}</td>
<td>{{data.adress}}</td>
<td>{{data.ville}}</td>
<td>{{data.phone}}</td>
<td>{{data.codePostal}}</td>
<td>{{data.zone}}</td>
<td>{{data.rib}}</td>

<td>{{data.numberSiren}}</td>
<td>{{data.numberTVA}}</td>
<td>{{data.juridicForm}}</td>
<td>{{data.representantLegal}}</td>


<td>
      <a class="btn btn-warning" href="{{path('update',{'id':data.id})}}">Update company </a>
      <a class="btn btn-danger" href="{{path('Delete',{'id':data.id})}}">Delete company</a>
      </td>
    </tr>
    
      {%endfor%}
    </tr>
  </tbody>

</table>
{% endblock %}