{% extends 'base.html.twig' %}

{% block title %}Hello User !{% endblock %}

{% block body %}
<div class="container">
{%for message in app.flashes('notice')%}
<div class="alert alert-succes nt-4 nb-n">
{{message}}
</div>
{%endfor%}
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">firstName</th>
      <th scope="col">lastName</th>
      <th scope="col">email</th>
      <th scope="col">phone</th>

      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  {%for data in list%}

    <tr>
      <th scope="row">{{data.id}}</th>
      <td>{{data.firstName}}</td>
      <td>{{data.lastName}}</td>
      <td>{{data.email}}</td>
      <td>{{data.phone}}</td>

      <td>
      <a class="btn btn-warning" href="{{path('updateUser',{'id':data.id})}}">Update User </a>
      <a class="btn btn-danger" href="{{path('DeleteUser',{'id':data.id})}}">Delete User</a>
      </td>
    </tr>
      {%endfor%}
    </tr>
  </tbody>
</table>
{% endblock %}

