{% extends "base.html.twig"%}

{% block body %}

<div class="container">
<div class="row">
<h3 class="mt-5 mb-5"> Create canceledReservation </h3>
{%for message in app.flashes('notice')%}
<div class="alert alert-success">
{{message}}
</div>
{%endfor%}
<div class="col-md-6 offset-md-3">
{{ form_start(form) }}
<div class="form-group">
{{form_label(form.reservation)}}
{{form_widget(form.reservation,{'attr':{'class':'form-control'}})}}
</div>

<div class="form-group">
{{form_label(form.price)}}
{{form_widget(form.price,{'attr':{'class':'form-control'}})}}
</div>

<div class="form-group">
{{form_label(form.date)}}
{{form_widget(form.date,{'attr':{'class':'form-control'}})}}
</div>

<div class="form-group">
<button class="btn btn-info mt-2 text-white">submit </button>
</div>

{{form_end(form)}}

</div>
</div>
</div>
{%endblock%}